html {
  background-color: #0786d2;
}

body {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.4667em;
  font-weight: lighter;
  text-shadow: 0 0 2px #000000;
}

#center,
.sidebar {
  background: none;
}

.messages {
  text-shadow: none;
}

#logo-and-title {
  max-width: 100%;
  width: 100%;
}

#logo_title {
  font-size: 3.5em;
  text-transform: uppercase;
  margin-right: 2em;
  margin-top: 0;
}

#logo_title,
.front h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#logo_title:after {
  color: #fff;
  content: "/";
  font-size: 1.25em;
  font-weight: 100;
  position: absolute;
  right: -1em;
  top: 0;
}

/* Front */
/*
.front #page {
  height: 100%;
}
*/
.front #header {
  margin: 0;
  padding-top: 10%;
/*
  height: 20%;
  position: relative;
  top: 20%;
*/
}

.front #nav.clearfix:after {
  margin: 0;
}

/*
.front #container {
  height: 45%;
  padding-bottom: 0;
  position: relative;
  top: 25%;
}

.front #footer {
  height: 1em;
  padding-bottom: 0;
  position: absolute;
  top: 91%;
}
*/

.front article {
  float: left;
  width: 61.803398875%;
}

.front article .content {
  float: left;
  font-size: 1.5em;
  margin-left: 25%;
  width: 50%;
}

.front #center .content {
  text-align: left;
}

.front #block-simplenews-1 {
  float: right;
  width: 38.19660112%;
}

/*
#simplenews-block-form-1 {
  text-align: left;
}
*/

.front #block-simplenews-1 .content p {
  font-size: 1.5em;
}

@media all and (max-width: 1023px) {
  div#page {
    max-width: 98%;
    width: auto;
  }
  h1#logo_title {
    margin: 0 2em 0 0;
    width: auto;
  }
  #logo-and-title a {
    margin-right: 0 !important;
  }
/*
  .front #header {
    top: 5%;
  }
*/
}
@media all and (max-width: 767px) {
  .front article {
    width: 100%;
  }
  .front article .content {
    margin-left: 5%;
    width: 90%;
  }
  .front #block-simplenews-1 {
    width: 100%;
  }
}


.compact-form-label {
  color: #fff;
}

.form-button, .form-submit[type="submit"], a.button, .unit_availability .bookinglist td:last-child a {
  background: none;
  border: 2px solid #fff;
  border-radius: 0;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  line-height: 2em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  text-shadow: 0 0 2px #000000;
}

.no-touch .form-button:hover,
.no-touch .form-submit[type=submit]:hover,
.no-touch .button:hover,
.no-touch .unit_availability .bookinglist td:last-child a:hover {
  background-color: none;
  background: none;
  color: #fff;
}

#mission {
  margin: 2em 0 3em;
}

div.status, span.status,
div.error, span.error,
div.warning, span.warning:not(.tabledrag-changed) {
  background-position: 12px 15px;
}

article {
  text-shadow: 0 0 2px #000;
}

input.form-text, textarea, select {
  border: 2px solid #fff;
  /*border-radius: 10px;*/
}

input.form-text, textarea, select {
  background: none;
}

/*

h4 {
  font-weight: 500;
}

.progress .bar {
  height: auto;
  margin-bottom: 1em;
}

.progress .filled {
  background-color: #353535;
}

#logo_title:before {
  content: '';
}

#logo_title:after {
  content: '';
}

.messages {
  font-weight: bold;
}

input[type=submit],
.button {
  font-weight: bold;
  margin-top: 1em;
}

.uc-price-display {
  float: none;
}

#zerobot-status a,
#zerobot-status b {
  display: inline;
}

#center,
.sidebar {
  background: rgba(0, 0, 0, 0.45);
}

input.form-text,
textarea,
select {
  background: rgba(0, 0, 0, 0.95);
}

table h1, table h2, table h3, table h4 {
  margin: 0;
}

table caption h2, table caption h3 {
  margin-top: 0.5em;
}

.satoshi { font-family: sans-serif; }

*/
